
<section class="background">
  <div class="login-wrapper">

    <mat-card class="box">
      <mat-toolbar color="primary">
      <mat-card-header>
      
        <mat-card-title><h1>CapFacia &nbsp; <mat-icon>camera</mat-icon> </h1> 
       </mat-card-title>
      
      </mat-card-header>
    </mat-toolbar>
      <mat-card-content>
        <form (ngSubmit)="onLogin(loginObj.email,loginObj.password)">
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Email" name="email" [(ngModel)]="loginObj.email" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="loginObj.password" required>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <div class="login">
            <button type="submit" mat-raised-button color="primary" class="btn-block">Login</button>
          </div>  
        </form>
      </mat-card-content>
      <h5 id="error">{{error}}</h5>
    </mat-card>
  </div>
  
</section>